<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MarketplaceContext" connectionString="metadata=res://*/Data.MarketplaceModel.csdl|res://*/Data.MarketplaceModel.ssdl|res://*/Data.MarketplaceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1,1433;initial catalog=Marketplace;user id=SA;password=postgreS12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>